body,* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    line-height: 2;
    color: rgb(144, 153, 160);

}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header-button button {
    border-radius: 10px;
    border: none;
    background-color: rgb(224, 237, 241);
    color: rgb(0, 0, 75);
    height: 60px;
    width: 170px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.heading h1 {
    padding-top: 1.8rem;
    font-weight: 900;
    font-size: 48px;
    color: rgb(0, 0, 75);
    padding-bottom: 1.5rem;
}
.main-button button{
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 106, 46);
    color: white;
    height: 60px;
    width: 170px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 20px;
}
.heading{
    padding: 20px;
    margin-bottom: 20px;
}
.date a+p {
    display: inline-block;
    font-weight: bold;
    margin-left: 80px;
    margin-bottom: 6rem;
}
.date{
    margin-top: 1rem;
}

.title-image img {
    border-radius: 2rem 0 0 2rem;
    height: 400px;
    width: 100%;
    position: relative;
    right: -20px;

}

.flexbox {
    display: flex;
    justify-content:start;
    padding-bottom: 2rem;
    flex-wrap: wrap;

}
.image img{
    height: 300px;
}
.one {
    border-radius: 0 2rem 2rem 0;
    width: 120px;
    background: rgb(255, 95, 21);
    overflow: hidden;
    object-fit: cover;
}
.one img {
    opacity: 0.4;
}
.two img {
    margin: 0 2rem;
    width: 315px;
    border-radius: 2rem;
}
.subtitle {
    padding: 4rem 2rem 0 2rem;
    text-align: center;
}
.subtitle h2 {
    font-weight: 900;
    font-size: 46px;
    color: rgb(0, 0, 75);
    padding-bottom: 1.5rem;
}


